body {
}

table.index {
    text-decoration: none;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

    table.index th {
        font-weight: normal;
        font-size: 14px;
        color: #ffffff;
        background-color: #354251;
    }

    table.index td {
        font-size: 13px;
        color: #354251;
    }

    table.index td, table.iksweb th {
        white-space: pre-wrap;
        padding: 10px 5px;
        line-height: 13px;
        vertical-align: middle;
        border: 1px solid #354251;
    }

    table.index tr:hover {
        background-color: #f9fafb
    }

        table.index tr:hover td {
            color: #354251;
            cursor: default;
        }
